<ion-view view-title="Search">
  <ion-content>
    <h1>Search</h1>
        <label class="item item-input">
          <span class="input-label">Nome:</span>
          <input type="text" ng-model="loginData.username">
        </label>
         <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="loginData.password">
        </label>
    <br/>
    <a href="#/app/browse" class="button button-balanced button-block ">Ir para Browse!</a>
  </ion-content>
</ion-view>
